.mainQQ{
    display: flex;
    flex-direction: column;
    min-height: 600px;
    height: auto;
    align-items: center;
    background-color: #6e8970;
    justify-content: space-around;

}
.mainTD{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    min-height: 200px;

}
.input1{
    border-radius: 0px 10px 0px 10px;
    height: 38px;
    font-size: 15px;
    width: 160px;
}
.divCN{
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 500px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #61dafb;
    border-radius: 15px;
    min-width: 180px;
    width: auto;
}
.divOnIB{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
    width: 280px;

}
.button1{
    border-radius: 0px 10px 0px 10px;
    width: 100px;
    height: 45px;

}
.buttonDel {
    height: 30px;
    width: 70px;
    font-size: 15px;

}
.li{
    display: flex;
    flex-direction: row;
    width: 240px;
    height: 75px;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;

}
.inputUpdate{
    border-radius: 0px 10px 0px 10px;
    height: 20px;
width: 100px;
    font-size: 15px;
}
